[Desktop Entry]
Name=Klystrack
Comment=Chiptune Tracker
Exec=klystrack %f
Type=Application
Icon=klystrack.png
Terminal=false
Categories=AudioVideo;AudioVideoEditing
Keywords=tracker;music;chipsong;
MimeType=audio/kt;
